/*-----------------GENERAL----------------*/

@font-face {
	font-family: Netto;
	src: url('../fonts/netto_ot.ttf');
}

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Netto;
  background-size: cover;
  background-repeat: no-repeat;
	width: 100vw;
	height: 100vh;
	display: table;
	background-position: center left;
  background-image: url(../img/background.jpg);
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

/*-----------------LANDING PAGE----------------*/

.container {
  text-align: -webkit-center;
}

.home-logo {
  margin-top: 80px;
}

.start-order{
  color: #ba5549;
  background-color: white;
  font-size: 22px;
  padding: 15px 5px 10px 5px;
  width: 170px;
  text-align: center;
  border-radius: 5px;
}

.start-order:hover {
  color: white;
  background-color: #ba5549;
}

/*-----------------BUTTONS/CART-ICON----------------*/

.btn {
  color: white;
  font-size: 22px;
  padding: 15px 5px 10px 5px;
  width: 170px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #888888;
  margin: 20px;
}

.btn-green {
  background-color: #aabc72;
}

.btn-orange {
  background-color: #f19c27;
}

.btn-purple {
  background-color: #685a6e;
}

.btn-red {
  background-color: #ba5549;
}

.btn-blue {
  background-color: #00adad;
}

.btn-pink {
  background-color: #ff9999;
}

.btn-lg {
  padding: 10px;
  display: table-cell;
  vertical-align: middle;
  margin-right: 10px;
  margin-left: 10px;
  width: 120px;
  height: 80px;
}

.button-div {
  display: inline-block;
  padding: 10px;
}

.buttons {
  max-width: 600px;
	margin: auto;
  text-align: -webkit-center;
}

.drinks {
  max-width: 450px;
  text-align: -webkit-center;
}

.cloud-heading {
  margin-top: -40px;
}

.cart-nav {
  text-align: right;
}

.cart-icon {
  max-width: 35px;
  margin-right: 15px;
  margin-top: 15px;
}

.back-icon {
  max-width: 45px;
  margin-left: 10px;
  margin-top: 9px;
  float: left;
}


/*purple: #685a6e;
red: #ba5549;
blue: #00adad;
green: #aabc72;
orange: #f19c27;
pink: #ff9999;*/
