/*-----------------GENERAL----------------*/

@font-face {
	font-family: Netto;
	src: url('../fonts/netto_ot.ttf');
}

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Netto;
  background-size: cover;
  background-repeat: no-repeat;
	width: 100vw;
	height: 100vh;
	display: table;
	background-position: center left;
  background-image: url(../img/background.jpg);
}

a {
  text-decoration: none;
	color: white;
}

p {
  margin: 0;
}

/*-----------------LANDING PAGE----------------*/

.container {
  text-align: -webkit-center;
}

.home-logo {
  margin-top: 15px;
}

.start-order{
  color: #ba5549;
  background-color: white;
  font-size: 22px;
  padding: 15px 5px 10px 5px;
  width: 170px;
  text-align: center;
  border-radius: 5px;
	margin-top: 10px;
}

.start-order:hover {
  color: white;
  background-color: #ba5549;
}

/*-----------------BUTTONS/CART-ICON----------------*/

.btn {
  color: white;
  font-size: 22px;
  padding: 15px 5px 10px 5px;
  width: 170px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #888888;
  margin: 20px;
}

.btn-green {
  background-color: #aabc72;
}

.btn-orange {
  background-color: #f19c27;
}

.btn-purple {
  background-color: #685a6e;
}

.btn-red {
  background-color: #ba5549;
}

.btn-blue {
  background-color: #00adad;
}

.btn-pink {
  background-color: #ff9999;
}

.btn-lg {
  padding: 10px;
  display: table-cell;
  vertical-align: middle;
  margin-right: 10px;
  margin-left: 10px;
  width: 120px;
  height: 80px;
}

.button-div {
  display: inline-block;
  padding: 10px;
}

.buttons {
  max-width: 600px;
	margin: auto;
  text-align: -webkit-center;
}

.drinks {
  max-width: 450px;
  text-align: -webkit-center;
}

.cloud-heading {
  margin-top: -40px;
}

.cart-nav {
  text-align: right;
}

.cart-icon {
  max-width: 35px;
  margin-right: 15px;
  margin-top: 15px;
}

.back-icon {
  max-width: 45px;
  margin-left: 10px;
  margin-top: 9px;
  float: left;
}

/*----------------ITEMS---------------*/

.item-container{
	max-width: 680px;
	margin: auto;
  text-align: -webkit-center;
}

.item-container::after{
	content: '';
	display: block;
	clear: both;
}

.item-box {
	background-color: white;
	width: 31%;
	height: 200px;
	float: left;
	margin: 1%;
	padding: 1%;
	padding-top: 12px;
	padding-bottom: 12px;
	border-radius: 5%;
	position: relative;
}

.item-name {
	color: #ba5549;
	text-align: left;
	padding: 2px;
	margin-left: 5px;
}

.item-price {
	color: #ba5549;
	text-align: left;
	padding: 2px;
	margin-left: 5px;
}

.item-info {
	text-align: left;
	padding: 2px;
	margin-left: 5px;
	font-size: 13px;
}

.btn-add {
	width: 93%;
	height: 45px;
	padding: 2%;
	border: 2px solid #ba5549;
	clear: both;
	position: absolute;
	bottom: 10px;
}

.btn-text {
	color: #ba5549;
	margin-top: 6px;
}

.circle {
	width: 16px;
	height: 16px;
	border-radius: 50%;
	float: left;
	margin-left: 5px;
  margin-bottom: 5px;
}

.circle-orange {
	background-color: #f19c27;
}

.circle-red {
	background-color: #ba5549;
}

.circle-green {
	background: #aabc72;
}

.hollow-orange {
	border: 1px solid #f19c27;
}

.hollow-red {
	border: 1px solid #ba5549;
}

.hollow-green {
	border: 1px solid #aabc72;
}

.inner-circle {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	float: left;
	margin-left: 3px;
	margin-top: 3px;
}

.inner-circle-orange {
	background-color: #f19c27;
}

.inner-circle-red {
	background-color: #ba5549;
}

.inner-circle-green {
	background-color: #aabc72;
}

@media only screen and (max-width: 618px) {
    .item-box {
        width: 45%;
				height: 190px;
    }
}

@media only screen and (max-width: 480px) {
    .item-box {
        width: 75%;
				height: 175px;
    }

		.btn-add {
			width: 97%;
		}
}

/*
Colors:
purple: #685a6e;
red: #ba5549;
blue: #00adad;
green: #aabc72;
orange: #f19c27;
pink: #ff9999;

#F29D2A
*/
