/*-----------------GENERAL----------------*/
@font-face {
  font-family: Netto;
  src: url("../fonts/netto_ot.ttf"); }
* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: Netto;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: table;
  background-position: center left;
  background-image: url(../img/background.jpg); }
  body a {
    text-decoration: none;
    color: white; }
  body p {
    margin: 0; }

/*-----------------LANDING PAGE----------------*/
.container {
  text-align: center; }

.container-maori {
  text-align: center;
  display: none; }

.home-logo {
  margin-top: 15px; }

.start-order {
  color: #ba5549;
  background-color: white;
  font-size: 22px;
  padding: 15px 5px 10px 5px;
  width: 170px;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto; }

.start-order:hover {
  color: white;
  background-color: #ba5549; }

/*-----------------TABLE NUMBER----------------*/
.container .table-number {
  color: #ba5549;
  background-color: white;
  font-size: 20px;
  padding: 10px 5px 10px 5px;
  width: 235px;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto; }
.container .continue {
  color: #ba5549;
  background-color: white;
  font-size: 20px;
  padding: 10px 5px 10px 5px;
  width: 160px;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto; }
.container .table-number-form {
  color: #ba5549;
  margin-top: 10px;
  margin-bottom: -20px; }

/*-----------------BUTTONS/CART-ICON----------------*/
.btn {
  color: white;
  font-size: 22px;
  padding: 15px 5px 10px 5px;
  width: 170px;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #888888;
  margin: 20px; }

.btn-green {
  background-color: #aabc72; }

.btn-orange {
  background-color: #f19c27; }

.btn-purple {
  background-color: #685a6e; }

.btn-red {
  background-color: #ba5549; }

.btn-blue {
  background-color: #00adad; }

.btn-pink {
  background-color: #ff9999; }

.btn-lg {
  padding: 10px;
  display: table-cell;
  vertical-align: middle;
  margin-right: 10px;
  margin-left: 10px;
  width: 120px;
  height: 80px; }

.button-div {
  display: inline-block;
  padding: 10px; }

.buttons {
  max-width: 600px;
  margin: 0 auto;
  text-align: center; }

.menu-display {
  display: inline-block;
  margin-bottom: 0px; }

.drinks {
  max-width: 450px;
  text-align: center; }

.cloud-heading {
  margin-top: -40px; }

.cart-nav {
  text-align: right; }

.cart-icon {
  max-width: 35px;
  margin-right: 15px;
  margin-top: 15px; }

.back-icon {
  max-width: 45px;
  margin-left: 10px;
  margin-top: 9px;
  float: left; }

/*-----------------COPYRIGHT----------------*/
footer {
  right: 0;
  left: 0; }
  footer .copyright {
    padding-top: 25px;
    padding-bottom: 15px; }
  footer .education {
    background-color: white;
    text-align: center;
    width: 210px;
    font-size: 9px;
    padding: 5px;
    color: #ba5549;
    margin-left: auto;
    margin-right: auto; }

/*----------------WAITER---------------*/
.heading-btns .waiter, .container .waiter {
  display: inline-block;
  clear: both; }
.heading-btns .waiter-btn, .container .waiter-btn {
  width: 100px;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  border-radius: 10%;
  background-color: white;
  margin-left: auto;
  margin-right: auto; }
.heading-btns .waiter-text, .container .waiter-text {
  text-align: center;
  color: #ba5549;
  padding: 8px; }
.heading-btns .language, .container .language {
  display: inline-block;
  clear: both; }
.heading-btns .language-btn-english, .container .language-btn-english {
  width: 100px;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  border-radius: 10%;
  background-color: white;
  margin-left: auto;
  margin-right: auto; }
.heading-btns .language-text, .container .language-text {
  text-align: center;
  color: #ba5549;
  padding: 8px; }
.heading-btns .waiter-btn-maori, .container .waiter-btn-maori {
  width: 130px;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  border-radius: 10%;
  background-color: white;
  margin-left: auto;
  margin-right: auto; }
.heading-btns .language-btn-maori, .container .language-btn-maori {
  width: 100px;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  border-radius: 10%;
  background-color: white;
  margin-left: auto;
  margin-right: auto; }

#waiter-called, #waiter-called-maori {
  height: 100px;
  width: 200px;
  background-color: white;
  border: 2px solid #ba5549;
  margin: auto;
  margin-top: 10px;
  display: none;
  z-index: 99; }
  #waiter-called .waiter-called-text, #waiter-called-maori .waiter-called-text {
    text-align: center;
    padding-top: 15px;
    margin-bottom: -5px;
    color: #ba5549; }
  #waiter-called .waiter-called-btn, #waiter-called-maori .waiter-called-btn {
    width: 50px;
    background-color: #ba5549;
    color: white;
    padding: 3px;
    padding-top: 6px;
    text-align: center;
    margin: auto;
    border-radius: 5px; }

/*----------------CART---------------*/
#cart {
  width: 50%;
  display: none;
  background-color: white;
  position: fixed;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 25%;
  margin-right: 25%;
  top: 0;
  bottom: 0;
  z-index: 10; }

#Cart {
  text-align: left; }

#dummyCart {
  text-align: left;
  line-height: 30px; }

.order-name {
  float: left;
  width: 70%; }

.order-price {
  list-style-type: none;
  float: left;
  width: 20%; }

.remove {
  list-style-type: none;
  float: left;
  margin-top: 3px;
  width: 10%; }

.remove-img {
  width: 15px;
  height: 15px; }

.your-order {
  text-align: center;
  color: #ba5549; }

.hello {
  margin-top: 100px;
  margin-bottom: -5px; }

.order-total {
  text-align: center;
  color: #ba5549;
  height: 40px; }

.exit {
  height: 15px;
  width: 15px;
  float: right;
  margin-right: 10px;
  margin-top: 10px;
  position: absolute;
  right: 5px; }

.btn-send {
  width: 70%;
  height: 45px;
  padding: 0%;
  border: 2px solid #ba5549;
  clear: both;
  margin-left: 15%;
  margin-right: 15%; }

.btn-send-text {
  color: #ba5549;
  margin-top: 12px;
  text-align: center; }

@media only screen and (max-width: 742px) {
  #cart {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%; } }
@media only screen and (max-width: 480px) {
  .order-name {
    width: 60%; }

  .order-price {
    width: 30%;
    text-align: center; }

  .hello {
    margin-top: 60px; }

  .order-small {
    font-size: 15px;
    margin-top: 145px; } }
/*--------------COMPLETE-------------*/
.container .complete {
  height: 110px;
  width: 200px;
  background-color: white;
  border: 2px solid #ba5549;
  margin: auto;
  margin-top: 10px; }
  .container .complete .complete-text {
    text-align: center;
    padding-top: 15px;
    margin-bottom: -5px;
    color: #ba5549; }
    .container .complete .complete-text .complete-info {
      line-height: 20px; }
  .container .complete .complete-btn {
    width: 50px;
    background-color: #ba5549;
    color: white;
    padding: 3px;
    padding-top: 6px;
    text-align: center;
    margin: auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    margin-top: 15px; }
.container .feedback {
  margin-top: 10px; }
  .container .feedback form {
    text-align: center; }
  .container .feedback .feedback-text {
    background-color: white;
    padding: 5px;
    color: #ba5549;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #ba5549; }
  .container .feedback #comment {
    width: 500px;
    height: 100px; }
  .container .feedback .submit_btn {
    margin-bottom: 20px;
    padding: 2px;
    font-size: 12px; }
  @media only screen and (max-width: 535px) {
    .container .feedback #comment {
      width: 88%; }
    .container .feedback .feedback-text {
      width: 280px; } }

/*----------------KEY/ITEMS---------------*/
.item-container {
  max-width: 680px;
  margin: auto;
  text-align: center; }
  .item-container .key {
    background-color: white;
    height: 38px;
    width: 577px;
    padding: 5px;
    margin-right: 1%;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
    margin: auto;
    margin-top: 7px; }
    .item-container .key .key-content {
      height: 100%;
      display: inline-block; }
    .item-container .key .key-box {
      float: left;
      margin-top: 5px; }
      .item-container .key .key-box .key-text {
        font-size: 12px;
        text-align: left;
        margin-left: 27px;
        padding-top: 4px; }
  @media only screen and (max-width: 618px) {
    .item-container .key {
      width: 230px;
      height: 93px;
      margin: 2%;
      padding: 5px;
      margin-left: auto;
      margin-right: auto; }
    .item-container .spacing-vegetarian {
      margin-left: 3px; }
    .item-container .spacing-vegan {
      margin-left: 24px; } }
  .item-container .item-box {
    background-color: white;
    width: 31%;
    float: left;
    margin: 1%;
    padding: 1%;
    padding-top: 12px;
    padding-bottom: 12px;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    border-radius: 5%;
    position: relative; }
  .item-container .tiny {
    height: 150px; }
  .item-container .small {
    height: 170px; }
  .item-container .large {
    height: 230px; }
  .item-container .item-name {
    color: #ba5549;
    text-align: left;
    padding: 2px;
    margin-left: 5px; }
  .item-container .item-price {
    color: #ba5549;
    text-align: left;
    padding: 2px;
    margin-left: 5px; }
  .item-container .item-info {
    text-align: left;
    padding: 2px;
    margin-left: 5px;
    font-size: 13px; }
  .item-container .btn-add {
    width: 93%;
    height: 45px;
    padding: 2%;
    border: 2px solid #ba5549;
    clear: both;
    position: absolute;
    bottom: 10px; }
    .item-container .btn-add .btn-text {
      color: #ba5549;
      margin-top: 6px; }
    .item-container .btn-add .btn-add-red {
      width: 93%;
      height: 45px;
      padding: 2%;
      background-color: #ba5549;
      clear: both;
      position: absolute;
      bottom: 10px; }
      .item-container .btn-add .btn-add-red .btn-text-red {
        color: white;
        margin-top: 6px; }
    .item-container .btn-add .circle {
      width: 16px;
      height: 16px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      float: left;
      margin-left: 5px;
      margin-bottom: 5px; }
    .item-container .btn-add .circle-orange {
      background-color: #f19c27; }
    .item-container .btn-add .circle-red {
      background-color: #ba5549; }
    .item-container .btn-add .circle-green {
      background: #aabc72; }
    .item-container .btn-add .hollow-orange {
      border: 1px solid #f19c27; }
    .item-container .btn-add .hollow-red {
      border: 1px solid #ba5549; }
    .item-container .btn-add .hollow-green {
      border: 1px solid #aabc72; }
    .item-container .btn-add .inner-circle {
      width: 8px;
      height: 8px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      float: left;
      margin-left: 3px;
      margin-top: 3px; }
    .item-container .btn-add .inner-circle-orange {
      background-color: #f19c27; }
    .item-container .btn-add .inner-circle-red {
      background-color: #ba5549; }
    .item-container .btn-add .inner-circle-green {
      background-color: #aabc72; }
    @media only screen and (max-width: 618px) {
      .item-container .btn-add .item-container {
        width: 100%;
        margin: 2%; }
      .item-container .btn-add .item-box {
        width: 46%; }
      .item-container .btn-add .large {
        height: 200px; } }
    @media only screen and (max-width: 480px) {
      .item-container .btn-add .item-box {
        width: 68%;
        margin-left: 15%;
        margin-right: 15%;
        margin-bottom: 7px; }
      .item-container .btn-add .large {
        height: 185px; }
      .item-container .btn-add .btn-add {
        width: 97%; } }
  .item-container .item-container::after {
    content: '';
    display: block;
    clear: both; }
